# Created by .ignore support plugin (hsz.mobi)
.idea/
dev/
dist/

node_modules/
package-lock.json
/.env
/.env.local
/zip/
/env.txt
gulp/
src/
.babelrc
.bemrc.js
.editorconfig
.eslintignore
.eslintrc
.gitignore
gulpfile.js
package.json
package-lock.json
README.md
webpack.config.js
