@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
	&_stroke {
		fill: none;
		stroke: currentColor;
		stroke-width: 2;
	}

}

.icon-arrow-next {
    width: (16 / 12) * 1em;
}
.icon-arrow-prev {
    width: (16 / 12) * 1em;
}
.icon-basket {
    width: (24 / 23) * 1em;
}
.icon-heart {
    width: (22 / 19) * 1em;
}
.icon-heart-f {
    width: (23 / 23) * 1em;
}
.icon-search {
    width: (21 / 21) * 1em;
}
.icon-user {
    width: (23 / 21) * 1em;
}
