extends base/pug/base
append variables
	- var title = 'UI'
	- var pageClass = ''
	- var pageUrl = '/'

block content
	include components/s-main-banner/s-main-banner
	include components/s-colllections/s-colllections
	include components/s-products-carousel/s-products-carousel
	+sMainBanner(mainBanner)
	+sCollections(collections)
	+sProductsCarousel(sProductCollection)
	br
	br
	br
	br

